.radius-0 {
  border-radius: 0px !important;
}


.radius-1 {
  border-radius: 1px;
}

.radius-2 {
  border-radius: 2px;
}

.radius-3 {
  border-radius: 3px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-6 {
  border-radius: 6px;
}

.radius-7 {
  border-radius: 7px;
}

.radius-8 {
  border-radius: 8px;
}

.radius-9 {
  border-radius: 9px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-11 {
  border-radius: 11px;
}

.radius-12 {
  border-radius: 12px;
}

.radius-13 {
  border-radius: 13px;
}

.radius-14 {
  border-radius: 14px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-25 {
  border-radius: 25px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-35 {
  border-radius: 35px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-45 {
  border-radius: 45px;
}

.radius-50 {
  border-radius: 50px;
}