.border-yellow {
  border-color: var(--yellow);
}

.border-yellow-1 {
  border-color: var(--yellow-shade-1);
}

.border-yellow-2 {
  border-color: var(--yellow-shade-2);
}

.border-yellow-3 {
  border-color: var(--yellow-shade-3);
}

.border-yellow-4 {
  border-color: var(--yellow-shade-4);
}

.border-yellow-5 {
  border-color: var(--yellow-shade-5);
}

.border-yellow-6 {
  border-color: var(--yellow-shade-6);
}

.border-yellow-7 {
  border-color: var(--yellow-shade-7);
}

.border-yellow-8 {
  border-color: var(--yellow-shade-8);
}

.border-yellow-9 {
  border-color: var(--yellow-shade-9);
}

.border-yellow-10 {
  border-color: var(--yellow-shade-10);
}


.border-orange {
  border-color: var(--orange);
}

.border-orange-vibrant {
  border-color: var(--orange-vibrant);
}

.border-orange-1 {
  border-color: var(--orange-shade-1);
}

.border-orange-2 {
  border-color: var(--orange-shade-2);
}

.border-orange-3 {
  border-color: var(--orange-shade-3);
}

.border-orange-4 {
  border-color: var(--orange-shade-4);
}

.border-orange-5 {
  border-color: var(--orange-shade-5);
}

.border-orange-6 {
  border-color: var(--orange-shade-6);
}

.border-red {
  border-color: var(--red);
}

.border-red-pale {
  border-color: var(--red-pale);
}

.border-red-1 {
  border-color: var(--red-shade-1);
}

.border-red-2 {
  border-color: var(--red-shade-2);
}

.border-red-3 {
  border-color: var(--red-shade-3);
}

.border-red-4 {
  border-color: var(--red-shade-4);
}

.border-pink {
  border-color: var(--pink);
}

.border-pink-1 {
  border-color: var(--pink-shade-1);
}

.border-pink-2 {
  border-color: var(--pink-shade-2);
}

.border-pink-3 {
  border-color: var(--pink-shade-3);
}

.border-pink-4 {
  border-color: var(--pink-shade-4);
}

.border-pink-5 {
  border-color: var(--pink-shade-5);
}

.border-pink-6 {
  border-color: var(--pink-shade-6);
}

.border-pink-7 {
  border-color: var(--pink-shade-7);
}

.border-pink-8 {
  border-color: var(--pink-shade-8);
}

.border-pink-9 {
  border-color: var(--pink-shade-9);
}

.border-purple {
  border-color: var(--purple);
}

.border-purple-pale {
  border-color: var(--purple-pale);
}

.border-purple-1 {
  border-color: var(--purple-shade-1);
}

.border-purple-2 {
  border-color: var(--purple-shade-2);
}

.border-purple-3 {
  border-color: var(--purple-shade-3);
}

.border-purple-4 {
  border-color: var(--purple-shade-4);
}

.border-purple-5 {
  border-color: var(--purple-shade-5);
}

.border-purple-6 {
  border-color: var(--purple-shade-6);
}

.border-purple-7 {
  border-color: var(--purple-shade-7);
}

.border-purple-8 {
  border-color: var(--purple-shade-8);
}

.border-purple-9 {
  border-color: var(--purple-shade-9);
}

.border-purple-10 {
  border-color: var(--purple-shade-10);
}

.border-blue {
  border-color: var(--blue);
}

.border-blue-1 {
  border-color: var(--blue-shade-1);
}

.border-blue-2 {
  border-color: var(--blue-shade-2);
}

.border-blue-3 {
  border-color: var(--blue-shade-3);
}

.border-blue-4 {
  border-color: var(--blue-shade-4);
}

.border-blue-5 {
  border-color: var(--blue-shade-5);
}

.border-blue-6 {
  border-color: var(--blue-shade-6);
}

.border-blue-7 {
  border-color: var(--blue-shade-7);
}

.border-blue-8 {
  border-color: var(--blue-shade-8);
}

.border-blue-9 {
  border-color: var(--blue-shade-9);
}

.border-blue-10 {
  border-color: var(--blue-shade-10);
}

.border-blue-11 {
  border-color: var(--blue-shade-11);
}

.border-blue-12 {
  border-color: var(--blue-shade-12);
}

.border-blue-13 {
  border-color: var(--blue-shade-13);
}

.border-blue-14 {
  border-color: var(--blue-shade-14);
}

.border-blue-15 {
  border-color: var(--blue-shade-15);
}

.border-blue-16 {
  border-color: var(--blue-shade-16);
}

.border-blue-17 {
  border-color: var(--blue-shade-17);
}

.border-green {
  border-color: var(--green);
}

.border-green-pale {
  border-color: var(--green-pale);
}

.border-green-1 {
  border-color: var(--green-shade-1);
}

.border-green-2 {
  border-color: var(--green-shade-2);
}

.border-green-3 {
  border-color: var(--green-shade-3);
}

.border-green-4 {
  border-color: var(--green-shade-4);
}

.border-green-5 {
  border-color: var(--green-shade-5);
}

.border-green-6 {
  border-color: var(--green-shade-6);
}

.border-green-7 {
  border-color: var(--green-shade-7);
}

.border-green-8 {
  border-color: var(--green-shade-8);
}

.border-green-9 {
  border-color: var(--green-shade-9);
}

.border-green-10 {
  border-color: var(--green-shade-10);
}

.border-green-11 {
  border-color: var(--green-shade-11);
}

.border-green-12 {
  border-color: var(--green-shade-12);
}

.border-green-13 {
  border-color: var(--green-shade-13);
}


.border-white {
  border-color: var(--white);
}

.border-white-vibrant {
  border-color: var(--white-vibrant);
}

.border-white-pale {
  border-color: var(--white-pale);
}

.border-white-1 {
  border-color: var(--white-shade-1);
}

.border-white-2 {
  border-color: var(--white-shade-2);
}

.border-white-3 {
  border-color: var(--white-shade-3);
}

.border-white-4 {
  border-color: var(--white-shade-4);
}

.border-white-5 {
  border-color: var(--white-shade-5);
}

.border-gray {
  border-color: var(--gray);
}

.border-gray-1 {
  border-color: var(--gray-shade-1);
}

.border-gray-2 {
  border-color: var(--gray-shade-2);
}

.border-gray-3 {
  border-color: var(--gray-shade-3);
}

.border-gray-4 {
  border-color: var(--gray-shade-4);
}

.border-gray-5 {
  border-color: var(--gray-shade-5);
}

.border-gray-6 {
  border-color: var(--gray-shade-6);
}

.border-gray-7 {
  border-color: var(--gray-shade-7);
}

.border-gray-8 {
  border-color: var(--gray-shade-8);
}

.border-gray-9 {
  border-color: var(--gray-shade-9);
}

.border-gray-10 {
  border-color: var(--gray-shade-10);
}


.border-black {
  border-color: var(--black);
}

.border-black-pale {
  border-color: var(--black-pale);
}

.border-black-vibrant {
  border-color: var(--black-vibrant);
}

.border-black-1 {
  border-color: var(--black-shade-1);
}

.border-black-2 {
  border-color: var(--black-shade-2);
}

.border-black-3 {
  border-color: var(--black-shade-3);
}

.border-black-4 {
  border-color: var(--black-shade-4);
}

.border-black-5 {
  border-color: var(--black-shade-5);
}

.border-black-6 {
  border-color: var(--black-shade-6);
}

.border-black-7 {
  border-color: var(--black-shade-7);
}

.border-black-8 {
  border-color: var(--black-shade-8);
}

.border-black-9 {
  border-color: var(--black-shade-9);
}

.border-black-10 {
  border-color: var(--black-shade-10);
}

.border-black-11 {
  border-color: var(--black-shade-11);
}

.border-yellow-active:hover,
.border-yellow-active:active {
  border-color: var(--yellow);
}

.border-yellow-1-active:hover,
.border-yellow-1-active:active {
  border-color: var(--yellow-shade-1);
}

.border-yellow-2-active:hover,
.border-yellow-2-active:active {
  border-color: var(--yellow-shade-2);
}

.border-yellow-3-active:hover,
.border-yellow-3-active:active {
  border-color: var(--yellow-shade-3);
}

.border-yellow-4-active:hover,
.border-yellow-4-active:active {
  border-color: var(--yellow-shade-4);
}

.border-yellow-5-active:hover,
.border-yellow-5-active:active {
  border-color: var(--yellow-shade-5);
}

.border-yellow-6-active:hover,
.border-yellow-6-active:active {
  border-color: var(--yellow-shade-6);
}

.border-yellow-7-active:hover,
.border-yellow-7-active:active {
  border-color: var(--yellow-shade-7);
}

.border-yellow-8-active:hover,
.border-yellow-8-active:active {
  border-color: var(--yellow-shade-8);
}

.border-yellow-9-active:hover,
.border-yellow-9-active:active {
  border-color: var(--yellow-shade-9);
}

.border-yellow-10-active:hover,
.border-yellow-10-active:active {
  border-color: var(--yellow-shade-10);
}

.border-orange-active:hover,
.border-orange-active:active {
  border-color: var(--orange);
}

.border-orange-vibrant-active:hover,
.border-orange-vibrant-active:active {
  border-color: var(--orange-vibrant);
}

.border-orange-1-active:hover,
.border-orange-1-active:active {
  border-color: var(--orange-shade-1);
}

.border-orange-2-active:hover,
.border-orange-2-active:active {
  border-color: var(--orange-shade-2);
}

.border-orange-3-active:hover,
.border-orange-3-active:active {
  border-color: var(--orange-shade-3);
}

.border-orange-4-active:hover,
.border-orange-4-active:active {
  border-color: var(--orange-shade-4);
}

.border-orange-5-active:hover,
.border-orange-5-active:active {
  border-color: var(--orange-shade-5);
}

.border-orange-6-active:hover,
.border-orange-6-active:active {
  border-color: var(--orange-shade-6);
}

.border-red-active:hover,
.border-red-active:active {
  border-color: var(--red);
}

.border-red-pale-active:hover,
.border-red-pale-active:active {
  border-color: var(--red-pale);
}

.border-red-1-active:hover,
.border-red-1-active:active {
  border-color: var(--red-shade-1);
}

.border-red-2-active:hover,
.border-red-2-active:active {
  border-color: var(--red-shade-2);
}

.border-red-3-active:hover,
.border-red-3-active:active {
  border-color: var(--red-shade-3);
}

.border-red-4-active:hover,
.border-red-4-active:active {
  border-color: var(--red-shade-4);
}

.border-pink-active:hover,
.border-pink-active:active {
  border-color: var(--pink);
}

.border-pink-1-active:hover,
.border-pink-1-active:active {
  border-color: var(--pink-shade-1);
}

.border-pink-2-active:hover,
.border-pink-2-active:active {
  border-color: var(--pink-shade-2);
}

.border-pink-3-active:hover,
.border-pink-3-active:active {
  border-color: var(--pink-shade-3);
}

.border-pink-4-active:hover,
.border-pink-4-active:active {
  border-color: var(--pink-shade-4);
}

.border-pink-5-active:hover,
.border-pink-5-active:active {
  border-color: var(--pink-shade-5);
}

.border-pink-6-active:hover,
.border-pink-6-active:active {
  border-color: var(--pink-shade-6);
}

.border-pink-7-active:hover,
.border-pink-7-active:active {
  border-color: var(--pink-shade-7);
}

.border-pink-8-active:hover,
.border-pink-8-active:active {
  border-color: var(--pink-shade-8);
}

.border-pink-9-active:hover,
.border-pink-9-active:active {
  border-color: var(--pink-shade-9);
}

.border-purple-active:hover,
.border-purple-active:active {
  border-color: var(--purple);
}

.border-purple-pale-active:hover,
.border-purple-pale-active:active {
  border-color: var(--purple-pale);
}

.border-purple-1-active:hover,
.border-purple-1-active:active {
  border-color: var(--purple-shade-1);
}

.border-purple-2-active:hover,
.border-purple-2-active:active {
  border-color: var(--purple-shade-2);
}

.border-purple-3-active:hover,
.border-purple-3-active:active {
  border-color: var(--purple-shade-3);
}

.border-purple-4-active:hover,
.border-purple-4-active:active {
  border-color: var(--purple-shade-4);
}

.border-purple-5-active:hover,
.border-purple-5-active:active {
  border-color: var(--purple-shade-5);
}

.border-purple-6-active:hover,
.border-purple-6-active:active {
  border-color: var(--purple-shade-6);
}

.border-purple-7-active:hover,
.border-purple-7-active:active {
  border-color: var(--purple-shade-7);
}

.border-purple-8-active:hover,
.border-purple-8-active:active {
  border-color: var(--purple-shade-8);
}

.border-purple-9-active:hover,
.border-purple-9-active:active {
  border-color: var(--purple-shade-9);
}

.border-purple-10-active:hover,
.border-purple-10-active:active {
  border-color: var(--purple-shade-10);
}

.border-blue-active:hover,
.border-blue-active:active {
  border-color: var(--blue);
}

.border-blue-pale-active:hover,
.border-blue-pale-active:active {
  border-color: var(--blue-pale);
}

.border-blue-dead-active:hover,
.border-blue-dead-active:active {
  border-color: var(--blue-dead);
}

.border-blue-1-active:hover,
.border-blue-1-active:active {
  border-color: var(--blue-shade-1);
}

.border-blue-2-active:hover,
.border-blue-2-active:active {
  border-color: var(--blue-shade-2);
}

.border-blue-3-active:hover,
.border-blue-3-active:active {
  border-color: var(--blue-shade-3);
}

.border-blue-4-active:hover,
.border-blue-4-active:active {
  border-color: var(--blue-shade-4);
}

.border-blue-5-active:hover,
.border-blue-5-active:active {
  border-color: var(--blue-shade-5);
}

.border-blue-6-active:hover,
.border-blue-6-active:active {
  border-color: var(--blue-shade-6);
}

.border-blue-7-active:hover,
.border-blue-7-active:active {
  border-color: var(--blue-shade-7);
}

.border-blue-8-active:hover,
.border-blue-8-active:active {
  border-color: var(--blue-shade-8);
}

.border-blue-9-active:hover,
.border-blue-9-active:active {
  border-color: var(--blue-shade-9);
}

.border-blue-10-active:hover,
.border-blue-10-active:active {
  border-color: var(--blue-shade-10);
}

.border-blue-11-active:hover,
.border-blue-11-active:active {
  border-color: var(--blue-shade-11);
}

.border-blue-12-active:hover,
.border-blue-12-active:active {
  border-color: var(--blue-shade-12);
}

.border-blue-13-active:hover,
.border-blue-13-active:active {
  border-color: var(--blue-shade-13);
}

.border-blue-14-active:hover,
.border-blue-14-active:active {
  border-color: var(--blue-shade-14);
}

.border-blue-15-active:hover,
.border-blue-15-active:active {
  border-color: var(--blue-shade-15);
}

.border-blue-16-active:hover,
.border-blue-16-active:active {
  border-color: var(--blue-shade-16);
}

.border-blue-17-active:hover,
.border-blue-17-active:active {
  border-color: var(--blue-shade-17);
}

.border-green-active:hover,
.border-green-active:active {
  border-color: var(--green);
}

.border-green-pale-active:hover,
.border-green-pale-active:active {
  border-color: var(--green-pale);
}

.border-green-1-active:hover,
.border-green-1-active:active {
  border-color: var(--green-shade-1);
}

.border-green-2-active:hover,
.border-green-2-active:active {
  border-color: var(--green-shade-2);
}

.border-green-3-active:hover,
.border-green-3-active:active {
  border-color: var(--green-shade-3);
}

.border-green-4-active:hover,
.border-green-4-active:active {
  border-color: var(--green-shade-4);
}

.border-green-5-active:hover,
.border-green-5-active:active {
  border-color: var(--green-shade-5);
}

.border-green-6-active:hover,
.border-green-6-active:active {
  border-color: var(--green-shade-6);
}

.border-green-7-active:hover,
.border-green-7-active:active {
  border-color: var(--green-shade-7);
}

.border-green-8-active:hover,
.border-green-8-active:active {
  border-color: var(--green-shade-8);
}

.border-green-9-active:hover,
.border-green-9-active:active {
  border-color: var(--green-shade-9);
}

.border-green-10-active:hover,
.border-green-10-active:active {
  border-color: var(--green-shade-10);
}

.border-green-11-active:hover,
.border-green-11-active:active {
  border-color: var(--green-shade-11);
}

.border-green-12-active:hover,
.border-green-12-active:active {
  border-color: var(--green-shade-12);
}

.border-green-13-active:hover,
.border-green-13-active:active {
  border-color: var(--green-shade-13);
}

.border-white-active:hover,
.border-white-active:active {
  border-color: var(--white);
}

.border-white-vibrant-active:hover,
.border-white-vibrant-active:active {
  border-color: var(--white-vibrant);
}

.border-white-pale-active:hover,
.border-white-pale-active:active {
  border-color: var(--white-pale);
}

.border-white-1-active:hover,
.border-white-1-active:active {
  border-color: var(--white-shade-1);
}

.border-white-2-active:hover,
.border-white-2-active:active {
  border-color: var(--white-shade-2);
}

.border-white-3-active:hover,
.border-white-3-active:active {
  border-color: var(--white-shade3);
}

.border-white-4-active:hover,
.border-white-4-active:active {
  border-color: var(--white-shade-4);
}

.border-white-5-active:hover,
.border-white-5-active:active {
  border-color: var(--white-shade-5);
}

.border-gray-active:hover,
.border-gray-active:active {
  border-color: var(--gray);
}

.border-gray-1-active:hover,
.border-gray-1-active:active {
  border-color: var(--gray-shade-1);
}

.border-gray-2-active:hover,
.border-gray-2-active:active {
  border-color: var(--gray-shade-2);
}

.border-gray-3-active:hover,
.border-gray-3-active:active {
  border-color: var(--gray-shade-3);
}

.border-gray-4-active:hover,
.border-gray-4-active:active {
  border-color: var(--gray-shade-4);
}

.border-gray-5-active:hover,
.border-gray-5-active:active {
  border-color: var(--gray-shade-5);
}

.border-gray-6-active:hover,
.border-gray-6-active:active {
  border-color: var(--gray-shade-6);
}

.border-gray-7-active:hover,
.border-gray-7-active:active {
  border-color: var(--gray-shade-7);
}

.border-gray-8-active:hover,
.border-gray-8-active:active {
  border-color: var(--gray-shade-8);
}

.border-gray-9-active:hover,
.border-gray-9-active:active {
  border-color: var(--gray-shade-9);
}

.border-gray-10-active:hover,
.border-gray-10-active:active {
  border-color: var(--gray-shade-10);
}

.border-black-active:hover,
.border-black-active:active {
  border-color: var(--black);
}

.border-black-pale-active:hover,
.border-black-pale-active:active {
  border-color: var(--black-pale);
}

.border-black-vibrant-active:hover,
.border-black-vibrant-active:active {
  border-color: var(--black-vibrant);
}

.border-black-1-active:hover,
.border-black-1-active:active {
  border-color: var(--black-shade-1);
}

.border-black-2-active:hover,
.border-black-2-active:active {
  border-color: var(--black-shade-2);
}

.border-black-3-active:hover,
.border-black-3-active:active {
  border-color: var(--black-shade-3);
}

.border-black-4-active:hover,
.border-black-4-active:active {
  border-color: var(--black-shade-4);
}

.border-black-5-active:hover,
.border-black-5-active:active {
  border-color: var(--black-shade-5);
}

.border-black-6-active:hover,
.border-black-6-active:active {
  border-color: var(--black-shade-6);
}

.border-black-7-active:hover,
.border-black-7-active:active {
  border-color: var(--black-shade-7);
}

.border-black-8-active:hover,
.border-black-8-active:active {
  border-color: var(--black-shade-8);
}

.border-black-9-active:hover,
.border-black-9-active:active {
  border-color: var(--black-shade-9);
}

.border-black-10-active:hover,
.border-black-10-active:active {
  border-color: var(--black-shade-10);
}

.border-black-11-active:hover,
.border-black-11-active:active {
  border-color: var(--black-shade-11);
}