.scale-1p1:hover {
  animation: scale-1p1 2s ease-in-out;
}

.Ascale-1p1:hover {
  animation-name: scale-1p1;
  animation-timing-function: ease-in-out;
}

.scale-1p2:hover {
  animation: scale-1p1 2s ease-in-out;
}

.Ascale-1p2:hover {
  animation-name: scale-1p1;
  animation-timing-function: ease-in-out;
}

.scale-1p3:hover {
  animation: scale-1p3 2s ease-in-out;
}

.Ascale-1p3:hover {
  animation-name: scale-1p3;
  animation-timing-function: ease-in-out;
}

.scale-1p4:hover {
  animation: scale-1p4 2s ease-in-out;
}

.Ascale-1p4:hover {
  animation-name: scale-1p4;
  animation-timing-function: ease-in-out;
}

.scale-1p5:hover {
  animation: scale-1p5 2s ease-in-out;
}

.Ascale-1p5:hover {
  animation-name: scale-1p5;
  animation-timing-function: ease-in-out;
}

.scale-1p6:hover {
  animation: scale-1p6 2s ease-in-out;
}

.Ascale-1p6:hover {
  animation-name: scale-1p6;
  animation-timing-function: ease-in-out;
}

.scale-1p7:hover {
  animation: scale-1p7 2s ease-in-out;
}

.Ascale-1p7:hover {
  animation-name: scale-1p7;
  animation-timing-function: ease-in-out;
}

.scale-1p8:hover {
  animation: scale-1p8 2s ease-in-out;
}

.Ascale-1p8:hover {
  animation-name: scale-1p8;
  animation-timing-function: ease-in-out;
}

.scale-1p9:hover {
  animation: scale-1p9 2s ease-in-out;
}

.Ascale-1p9:hover {
  animation-name: scale-1p9;
  animation-timing-function: ease-in-out;
}

.scale-2:hover {
  animation: scale-2 2s ease-in-out;
}

.Ascale-2:hover {
  animation-name: scale-2;
  animation-timing-function: ease-in-out;
}


.scale-2p2:hover {
  animation: scale-2p2 2s ease-in-out;
}

.Ascale-2p2:hover {
  animation-name: scale-2p2;
  animation-timing-function: ease-in-out;
}

.scale-2p2:hover {
  animation: scale-2p2 2s ease-in-out;
}

.Ascale-2p2:hover {
  animation-name: scale-2p2;
  animation-timing-function: ease-in-out;
}

.scale-2p3:hover {
  animation: scale-2p3 2s ease-in-out;
}

.Ascale-2p3:hover {
  animation-name: scale-2p3;
  animation-timing-function: ease-in-out;
}

.scale-2p4:hover {
  animation: scale-2p4 2s ease-in-out;
}

.Ascale-2p4:hover {
  animation-name: scale-2p4;
  animation-timing-function: ease-in-out;
}

.scale-2p5:hover {
  animation: scale-2p5 2s ease-in-out;
}

.Ascale-2p5:hover {
  animation-name: scale-2p5;
  animation-timing-function: ease-in-out;
}

.scale-2p6:hover {
  animation: scale-2p6 2s ease-in-out;
}

.Ascale-2p6:hover {
  animation-name: scale-2p6;
  animation-timing-function: ease-in-out;
}

.scale-2p7:hover {
  animation: scale-2p7 2s ease-in-out;
}

.Ascale-2p7:hover {
  animation-name: scale-2p7;
  animation-timing-function: ease-in-out;
}

.scale-2p8:hover {
  animation: scale-2p8 2s ease-in-out;
}

.Ascale-2p8:hover {
  animation-name: scale-2p8;
  animation-timing-function: ease-in-out;
}

.scale-2p9:hover {
  animation: scale-2p9 2s ease-in-out;
}

.Ascale-2p9:hover {
  animation-name: scale-2p9;
  animation-timing-function: ease-in-out;
}


.scale-3:hover {
  animation: scale-3 2s ease-in-out;
}

.Ascale-3:hover {
  animation-name: scale-3;
  animation-timing-function: ease-in-out;
}


.scale-3p1:hover {
  animation: scale-3p1 3s ease-in-out;
}

.Ascale-3p1:hover {
  animation-name: scale-3p1;
  animation-timing-function: ease-in-out;
}

.scale-3p2.Ascale-1p5:hover {
  animation: scale-3p2 3s ease-in-out;
}

.Ascale-3p2:hover {
  animation-name: scale-3p2;
  animation-timing-function: ease-in-out;
}

.scale-3p3:hover {
  animation: scale-3p3 3s ease-in-out;
}

.Ascale-3p3:hover {
  animation-name: scale-3p3;
  animation-timing-function: ease-in-out;
}

.scale-3p4:hover {
  animation: scale-3p4 3s ease-in-out;
}

.Ascale-3p4:hover {
  animation-name: scale-3p4;
  animation-timing-function: ease-in-out;
}

.scale-3p5:hover {
  animation: scale-3p5 3s ease-in-out;
}

.Ascale-3p5:hover {
  animation-name: scale-3p5;
  animation-timing-function: ease-in-out;
}

.scale-3p6:hover {
  animation: scale-3p6 3s ease-in-out;
}

.Ascale-3p6:hover {
  animation-name: scale-3p6;
  animation-timing-function: ease-in-out;
}

.scale-3p7:hover {
  animation: scale-3p7 3s ease-in-out;
}

.Ascale-3p7:hover {
  animation-name: scale-3p7;
  animation-timing-function: ease-in-out;
}

.scale-3p8:hover {
  animation: scale-3p8 3s ease-in-out;
}

.Ascale-3p8:hover {
  animation-name: scale-3p8;
  animation-timing-function: ease-in-out;
}

.scale-3p9:hover {
  animation: scale-3p9 3s ease-in-out;
}

.Ascale-3p9:hover {
  animation-name: scale-3p9;
  animation-timing-function: ease-in-out;
}

.scale-4:hover {
  animation: scale-4 4s ease-in-out;
}

.Ascale-4:hover {
  animation-name: scale-4;
  animation-timing-function: ease-in-out;
}


.scale-4p1:hover {
  animation: scale-4p1 4s ease-in-out;
}


.Ascale-4p1:hover {
  animation-name: scale-4p1;
  animation-timing-function: ease-in-out;
}


.scale-4p2:hover {
  animation: scale-4p2 4s ease-in-out;
}


.Ascale-4p2:hover {
  animation-name: scale-4p2;
  animation-timing-function: ease-in-out;
}


.scale-4p3:hover {
  animation: scale-4p3 4s ease-in-out;
}


.Ascale-4p3:hover {
  animation-name: scale-4p3;
  animation-timing-function: ease-in-out;
}


.scale-4p4:hover {
  animation: scale-4p4 4s ease-in-out;
}


.Ascale-4p4:hover {
  animation-name: scale-4p4;
  animation-timing-function: ease-in-out;
}

.scale-4p5:hover {
  animation: scale-4p5 4s ease-in-out;
}

.Ascale-4p5:hover {
  animation-name: scale-4p5;
  animation-timing-function: ease-in-out;
}

.scale-4p6:hover {
  animation: scale-4p6 4s ease-in-out;
}

.Ascale-4p6:hover {
  animation-name: scale-4p6;
  animation-timing-function: ease-in-out;
}

.scale-4p7:hover {
  animation: scale-4p7 4s ease-in-out;
}

.Ascale-4p7:hover {
  animation-name: scale-4p7;
  animation-timing-function: ease-in-out;
}

.scale-4p8:hover {
  animation: scale-4p8 4s ease-in-out;
}

.Ascale-4p8:hover {
  animation-name: scale-4p8;
  animation-timing-function: ease-in-out;
}

.scale-4p9:hover {
  animation: scale-4p9 4s ease-in-out;
}

.Ascale-4p9:hover {
  animation-name: scale-4p9;
  animation-timing-function: ease-in-out;
}

.scale-5:hover {
  animation: scale-5 4s ease-in-out;
}

.Ascale-5:hover {
  animation-name: scale-5;
  animation-timing-function: ease-in-out;
}

@keyframes scale-1p1 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-1p2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scale-1p3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes scale-1p4 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes scale-1p5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes scale-1p6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.6);
  }
}

@keyframes scale-1p5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes scale-1p6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.6);
  }
}

@keyframes scale-1p7 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.7);
  }
}

@keyframes scale-1p8 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.8);
  }
}

@keyframes scale-1p9 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.9);
  }
}

@keyframes scale-2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes scale-2p1 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.1);
  }
}

@keyframes scale-2p2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.2);
  }
}

@keyframes scale-2p3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.3);
  }
}

@keyframes scale-2p4 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.4);
  }
}

@keyframes scale-2p5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.5);
  }
}

@keyframes scale-2p6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.6);
  }
}

@keyframes scale-2p7 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.7);
  }
}

@keyframes scale-2p8 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.8);
  }
}

@keyframes scale-2p9 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.9);
  }
}

@keyframes scale-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}

@keyframes scale-3p1 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.1);
  }
}

@keyframes scale-3p2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.2);
  }
}

@keyframes scale-3p3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.3);
  }
}

@keyframes scale-3p4 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.4);
  }
}

@keyframes scale-3p5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.5);
  }
}

@keyframes scale-3p6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.6);
  }
}

@keyframes scale-3p7 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.7);
  }
}

@keyframes scale-3p8 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.8);
  }
}

@keyframes scale-3p9 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.9);
  }
}

@keyframes scale-4 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

@keyframes scale-4p1 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.1);
  }
}

@keyframes scale-4p2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.2);
  }
}

@keyframes scale-4p3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.3);
  }
}

@keyframes scale-4p4 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.4);
  }
}

@keyframes scale-4p5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.5);
  }
}

@keyframes scale-4p6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.6);
  }
}

@keyframes scale-4p7 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.7);
  }
}

@keyframes scale-4p8 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.8);
  }
}

@keyframes scale-4p9 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4.9);
  }
}

@keyframes scale-5 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(5);
  }
}