.hidden {
  display: none;
}

.show {
  display: block;
}

#main-menu {
  z-index: 1;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;

}

#main-menu:has(> .diogonal-top-left) {
  z-index: 1;
  transform: translateX(-100%)translateY(-100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-bottom-left) {
  z-index: 1;
  transform: translateX(-100%)translateY(100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-bottom-left-middle) {
  z-index: 1;
  transform: translateX(100%)translateY(100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-top-left-middle) {
  z-index: 1;
  transform: translateX(100%)translateY(-100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}


#main-menu:has(> .diogonal-top-right) {
  z-index: 1;
  transform: translateX(-100%)translateY(-100%);
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-bottom-right) {
  z-index: 1;
  transform: translateX(-100%)translateY(100%);
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-bottom-right-middle) {
  z-index: 1;
  transform: translateX(100%)translateY(100%);
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .diogonal-top-right-middle) {
  z-index: 1;
  transform: translateX(100%)translateY(-100%);
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
}





#main-menu:has(> .from-above) {
  z-index: 1;
  transform: translateY(-100%);
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}

#main-menu:has(> .from-bottom) {
  z-index: 1;
  transform: translateY(+100%);
  position: fixed;
  left: 0;
  bottom: 0;
  transition: 1s;
}


#main-menu:has(> .menu-right) {
  z-index: 1;
  transform: translateX(+100%);
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
}


#main-menu.show {
  transform: translateX(0%)translateY(0%);
  transition: 1s;
}

#burger-button {
  display: block;
  left: 0px;
  position: absolute;
}

#close-button {
  display: block;
}

@media screen and (max-width: 600px) {
  #burger-button {
    width: 100%;
    background-color: #333;
    position: static;
  }
}


@media screen and (min-width: 1280px) {
  #main-menu {
    width: 320px;
  }
}